$oia-excel-path1: "\e915";
$oia-excel-path2: "\e916";
$oia-excel-path3: "\e917";
$oia-excel-path4: "\e918";
$oia-excel-path5: "\e919";
$oia-excel-path6: "\e91a";
$oia-excel-path7: "\e91b";
$oia-excel-path8: "\e91c";
$oia-excel-path9: "\e91d";
$oia-excel-path10: "\e91e";
$oia-excel-path11: "\e91f";
$oia-apple: "\e914";
$oia-google-path1: "\e910";
$oia-google-path2: "\e911";
$oia-google-path3: "\e912";
$oia-google-path4: "\e913";
$oia-upload: "\e906";
$oia-schedule: "\e907";
$oia-hamburger: "\e90a";
$oia-close: "\e90e";
$oia-upload-arrow: "\e902";
$oia-arrow: "\e905";
$oia-linkedIn: "\e900";
$oia-notification: "\e901";
$oia-setting: "\e903";
$oia-twitter: "\e904";
$oia-bell: "\e908";
$oia-calendar: "\e909";
$oia-dashboard: "\e90b";
$oia-discord: "\e90c";
$oia-github: "\e90d";
$oia-invoice: "\e90f";