// Colors
$primary: #605BFF;
$blue: #346BD4;
$blueSecondary: #5B93FF;
$blackSecondary: #030229;
$error: #ED1C24;
$success: #4A934A;
$white:#ffffff;
$black:#000000;
$grey: #9A9AA9;
$lightGrey : #F5F5F5;


// Font Weights
$light: 300;
$normal: 400;
$medium: 500;
$semiBold : 600;
$bold: bold;
$bolder: 800;
$boldest: 900;